# Data files
data/raw/*
data/*.db
!data/.gitkeep
!data/raw/.gitkeep

# Figures 
figures/*
!figures/.gitkeep

# Reports — versionado (contém mapa interativo)


# Python
__pycache__/
*.pyc
*.pyo
.ipynb_checkpoints/

# Conda / Env
.conda/
*.egg-info/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/